


#para1{
    font-style: italic;
    font-size: xx-large;
    text-transform: capitalize;
    color: blueviolet;
    background-color: antiquewhite;
}
.para2{
    font-size: x-large;
 text-decoration-color: aquamarine;
    text-transform: capitalize;
    color: rgb(196, 152, 94);
   
    
    font-style: oblique;
   
}