.d{
   width: 150px;
  height: 500px;
  border: 2px solid rgb(5, 1, 1);
  display: inline-block;
  justify-content: space-between;
 gap:40px;
  
}
.d1{
 width: 150px;
  height: 500px;
  border: 2px solid rgb(5, 1, 1);  
   display: inline-block;
  justify-content: center;
  gap: 40px; 
}
.d2
{
    width: 150px;
  height: 500px;
  border: 2px solid rgb(5, 1, 1);
   display: inline-block;
  justify-content: center;
  gap: 40px;
}
.d3{
    width: 150px;
  height: 500px;
  border: 2px solid rgb(5, 1, 1);
   display: inline-block;
  justify-content: right;
  gap: 40px;
}